.navbar-brand {
  &.top {
    color: orangered;
    font-weight: bold;
    height: 50px;
    a {
      &:hover {
        color: orangered !important;
      }
    }
  }
}

.navbar-nav {
  a {
    &.nav-link {
      color: orangered !important;
      text-decoration: underline;
      :focus {
        color: red;
      }
    }
  }
}
.navbar-toggler {
  background-color: #ccc !important;
}

.btn-border {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
    background-color: #ccc;
  }
}
.btn-hover {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}
.text-white {
  color: #fff;
}
.service-height {
  div {
    &.card {
      min-height: 320px;
    }
  }
  ul {
    list-style: none;
    li {
      display: flex; /* 点とリストを横並びに */
      align-items: center; /* 垂直方向に中央揃い */
      &::before {
        content: "●";
        color: orangered;
        font-size: 1.5em;
        margin-right: 0.5em;
      }
    }
  }
}

.textarea {
  height: 200px !important;
}
a {
  &.text-orange {
    color: orange !important;
  }
  &.nav-link {
    &.text-orange {
      color: orange !important;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.text-black {
  color: #000 !important;
}
.text-orange {
  color: orange !important;
}
#page-top {
  .jumbotron-fluid {
    background-image: none !important;
    background: none !important;
    background-color: transparent;
    background-image: none;
    height: 640px;
  }
  .jumbotron {
    background-image: none !important;
    background: none !important;
    background-color: transparent;
    background-image: none;
    span {
      color: #000 !important;
    }
  }
}
#footer {
  background-color: #f7fcf2 !important;
  address {
    color: #000;
  }
  a {
    &.text-white {
      color: #333 !important;
    }
    &.h2 {
      color: orange !important;
    }
  }
}
#copyright {
  background-color: #fff !important;
  p {
    color: #000;
  }
}
#sec2 {
  background-color: #fff !important;
  a {
    color: orange !important;
  }
}
#breadcrumb-wrapper {
  .breadcrumb {
    background-color: orange;
  }
  a {
    color: #333 !important;
  }
}
